{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    {% if app.user != null %} 
        {% if app.user.rol != null %}
            <br>
            <div class="container bg-dark">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{path("bc_add_autor")}}">
                            <img src="{{asset("imgdata/user-add.png")}}" height="50" width="50">
                            <input type="button" value="Añadir autor" class="btn btn-success"></a>
                    </div>
                    {% if app.user.rol != null %}
                        {% if app.user.rol == 'ADMIN' %}
                            <div class="col-md-3">
                                <a href="{{path("bc_edit_autor",{"id":autor.idAutor})}}">
                                    <img src="{{asset("imgdata/user-edit.png")}}" height="50" width="50">
                                    <input type="button" value="Editar autor" class="btn btn-warning"></a>
                                </a>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <a onclick="confirmarBorradoAutor({{autor.idautor}})">
                                    <img src="{{asset("imgdata/user-del.png")}}" height="50" width="50">
                                    <input type="button" value="Eliminar autor" class="btn btn-danger"></a>
                                </a>
                            </div>
                        {% endif %}   
                    {% endif %}
                </div>
                <br>
            </div>
            <br>
            <div id="busq_libro" class="container bg-info">
                <br>      
                <br>
            </div>
            <br>
            <div class="container bg-warning">
                <br>
                <div class="row">
                    <div class="col-md-7">
                        <h2><i class="fas fa-arrow-alt-circle-right"></i><b>{{autor.nombre}} {{autor.apellido}}</b></h2>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        {% if autor.foto == null or autor.foto == "" %}
                            <img src="{{asset("imgdata/smile.png")}}" height="230" width="200"> 
                        {% else %}
                            <img src="{{asset(autor.foto)}}" height="230" width="200"> 
                        {% endif %}
                        <br>
                        <br>
                    </div>
                    <br>
                {% else %}
                    <div class="container bg-danger">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-5" align="center">
                                <br><br>
                                <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                                <br><br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="container bg-danger">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5" align="center">
                            <br><br>
                            <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                            <br><br>
                        </div>
                    </div>
                </div>
            {% endif %}
            <br>
        {% endblock %}
        {% block javascript %}
            <script src="{{ asset('assets/js/function.js') }}" type="text/javascript"></script>
            <script>
                                    $("#MenuUser").toggle();
                                    $("#titleUser").click(function () {
                                        $("#MenuUser").toggle();
                                    });
            </script>
        {% endblock %}
