{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    {% if app.user == null %}
    <!--LOGIN-->
    <br>
    <div class="container bg-warning">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <br>
                <h2> Identificación </h2>
                <form action="{{path("login_check")}}" method="post">
                    <br>
                    <label><b>Email del usuario</b></label>
                    <input type="name" id="email" name="_username" value="{{ last_username }}" class="form-control"/>
                    <br>
                    <label><b>Contraseña</b></label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                    <br>
                    <input type="submit" value="Entrar" class="btn btn-success">
                    <input type="button" value="Cancelar" class="btn btn-danger">
                    <input type="hidden" name="_target_path" value="/login"/>
                </form>
            </div>
        </div>
        <br>
    </div>
    <!-- CREACION DE USUARIO -->
    <br>        
    <div  class="container bg-warning">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <br>
                <h2> Registro de usuario </h2>
                <br>
                {% for message in app.session.flashbag().get('status') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {{form_start(form, {'action':'', 'method':'POST'})}}
                {{(form_end(form))}}
            </div>
        </div>
        <br>
    </div>
    {% else %}
    <br>        
    <div  class="container bg-warning">
        <div class="row"> 
            <div class="col-md-5">
                <br>
                <h2> Menú </h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" align="center">
                <a href="{{path("bc_index_libro")}}"><input type="button" value="Listado de libros" class="btn btn-info"></a><br><br><br><br>
            </div>
            <div class="col-md-3" align="center">   
                <a href="{{path("bc_index_libreria")}}"><input type="button" value="Listado de Librerías" class="btn btn-info"></a><br><br> 
                <!--<a href=""><input type="button" value="Mi perfil" class="btn btn-dark"></a>-->
            </div>
            <div class="col-md-3" align="center">  
                <a href="{{path("bc_index_autor")}}"><input type="button" value="Listado de Autores" class="btn btn-info"></a><br><br>
            </div>
            {% if app.user.rol == 'ADMIN' %}
            <div class="col-md-3" align="center">  
                <a href=""><input type="button" value="Listado de Usuarios" class="btn btn-info"></a><br><br>
            </div>
            {% endif %}
        </div>
        <br>
    </div>
    <br>
    {% endif %}
<br>
<div class="clearfix"></div>
{% endblock %}
    