{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    {% if app.user != null %} 
        {% if app.user.rol != null %}
            <br>
            <div class="container bg-dark">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{path("bc_add_libro")}}">
                            <img src="{{asset("imgdata/libro-add.png")}}" height="50" width="50">
                            <input type="button" value="Proponer libro" class="btn btn-success">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="{{asset("imgdata/libro-find.png")}}" height="50" width="50">
                        <input id="act_busq" type="button" value="¿Buscas algo?" class="btn btn-info">
                        {% if app.user.rol == 'ADMIN' %}
                            <a href="{{path("bc_index_NoVallibro")}}"> 
                                <input type="button" value="Libros NO validados" class="btn btn-danger">
                            </a>
                        {% endif %} 
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div id="busq_libro" class="container bg-info">
                <br>
                <h3><b><img src="{{asset("imgdata/libro-del.png")}}" height="50" width="50">Búsqueda de libro</b></h3>
                <div id="controlBusqueda" class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div id="controlBusqueda" class="col-md-5">
                        {{form_start(form)}}
                        {{form_end(form)}}
                    </div>
                </div>
                <br>
            </div>
            <br>

        {% else %}
            <div class="container bg-danger">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-5" align="center">
                        <br><br>
                        <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                        <br><br>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container bg-danger">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5" align="center">
                    <br><br>
                    <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                    <br><br>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/js/function.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#controlBusqueda").toggle();

            $("#act_busq").click(function () {
                $("#controlBusqueda").toggle();
            });

            $("#cancelarBusqueda").click(function () {
                $("#controlBusqueda").toggle();
            });
        });
    </script>
{% endblock %}






