{% extends "BcBundle::layout.html.twig" %}
{% block content %}
    {% if app.user != null %} 
        {% if app.user.rol != null %}
            <br>
            <div class="container bg-dark">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2><b style="color: white"><i class="fas fa-check"></i> Resultados de la búsqueda </b></h2><br>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div id="busq_libro" class="container bg-info">
                <br>      
                <br>
            </div>
            <br>
            {% if libros|length() == 0 or libros is null%}
                <div class="container bg-primary">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5" align="center">
                            <br>
                            <img src="{{asset("imgdata/libreria-base.png")}}" height="75" width="75">
                            <img src="{{asset("imgdata/user-find.png")}}" height="100" width="100">
                            <br>
                            <h1>
                                <b>¿ Buscas algo ?</b>                      
                            </h1>           
                            <img src="{{asset("imgdata/libro-find.png")}}" height="100" width="100">
                            <img src="{{asset("imgdata/user-base.png")}}" height="75" width="75">
                            <br><br>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for libro in libros %}
                    <div class="container bg-warning">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>
                                    <i class="fas fa-arrow-alt-circle-right"></i>{{libro.titulo}}</a>
                                </h2>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="container bg-danger">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-5" align="center">
                        <br><br>
                        <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                        <br><br>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container bg-danger">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5" align="center">
                    <br><br>
                    <h1>¡Alto ahí, forastero! ¡Debes inscribirte primero para entrar a esta sección!</h1>
                    <br><br>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/js/function.js') }}" type="text/javascript"></script>
    <script>
        $("#MenuUser").toggle();
        $("#titleUser").click(function () {
            $("#MenuUser").toggle();
        });
    </script>
{% endblock %}
